<div class="carousel" [style.width]="width ? width :'100%'" [style.height]="height ? height :'100%'" [style.minHeight]="minHeight ? minHeight: 'unset'">
    <!-- slides -->
     <div class="carousel-container">
        <div class="carousel-content">
            @for (slide of data; track slide.id; let i = $index) {
                <div class="carousel-slide"  [style]="getSlideSizing(i)">
                    <ng-container *ngTemplateOutlet="_carouselSlide.templateRef; context: { $implicit: slide, isCurrent: i === activeSlides.current }"></ng-container>
                </div>
            }
        </div>
        <!-- navigations  -->
        <div class="carousel-navigator prev" 
            [class.disabled]="activeSlides.current === 0">
            <div (click)="select($event, activeSlides.previous)">
                <mat-icon>chevron_left</mat-icon>
            </div>
        </div>
        <div class="carousel-navigator next" 
            [class.disabled]="activeSlides.current === data.length - 1">
            <div (click)="select($event, activeSlides.next)">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </div>
     </div>
</div>