:host {
    --unit-1: 4px;
    --min-height-carousel: calc(var(--unit-1) * 50);
    --timing: 400ms;
}

.carousel {
    width: 100%;
    min-height: var(--min-height-carousel);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.carousel-slide {
    display: block;
    height: 100%;
    display: block;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: left 400ms ease-out, 
                height 200ms ease-out,
                z-index 200ms ease-out,
                top 200ms ease-out;
}

/* container */
.carousel-container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
}

.carousel-navigator {
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;

    div {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: lightgray;
        color: black;
    }
}

.carousel-navigator.disabled {
    display: none;
}

.carousel-navigator.prev {
    left: 0;
}

.carousel-navigator.next {
    right: 0;
}

.carousel-content {
    flex: 1 0 80%;
    display: flex;
    position: relative;
    min-width: 300px;
}
