

.app-toolbar {
    box-shadow: 0px 2px 4px 1px dimgrey;
    height: 80px;
    position: fixed;
    z-index: 5;
    top: 0;
}

.app-bottom-navigation {
    width: 100%;
    position: fixed;
    padding-top: 12px;
    bottom: 0;
    padding-bottom: 15px;
    display: none;
    z-index: 10;
    background-color: #e5e5e5;
    box-shadow: 0px 0px 6px #5d5d5d;

    .app-bottom-navigator {
        display: none;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;

        &.active {
            font-weight: 900;
        }
    }
}

@media (max-width: 599px) {
    .app-toolbar {
        display: flex;
        justify-content: center;
    }

    .app-menu-buttons {
        display: none;
    }

    .app-content {
        padding-bottom: 80px;
    }

    .app-bottom-navigation {
        display: flex;
    }
}

.app-content {
    margin-top: 80px;
}

.app-menu-buttons {
    margin: 0 20px;
}
