.calendar-card.nswempu {
    background-color: var(--nswempu-bg);
}

.calendar-card.mampara {
    background-color: var(--mampara-bg);
}

.calendar-card {

    .calendar-card-header {
        justify-content: center;
        text-align: center;

        .mat-mdc-card-title {
            font-weight: 500;
            font-size: 50px;
            line-height: initial;

            .calendar-form-field {
                text-align: center;

                ::ng-deep .mat-mdc-form-field-subscript-wrapper {
                    display: none;
                }

                ::ng-deep .mat-mdc-text-field-wrapper {
                    border: 2px solid;

                    .mat-mdc-form-field-flex {
                        .mat-mdc-form-field-infix {
                            padding: 0;
                        }
                    }

                    .mdc-line-ripple {
                        display: none;
                    }
                }

                .calendar-select {
                    font-weight: 500;
                    font-size: 50px;
                    line-height: initial;
                    color: revert;

                    ::ng-deep .mat-mdc-select-trigger .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow {
                        color: inherit;

                        svg {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }

        .mat-mdc-card-title.nswempu {
            color: var(--nswempu-color);
        }

        .mat-mdc-card-title.mampara {
            color: var(--mampara-color);
        }
    }

    @media (min-width: 700px) {
        .calendar-card-header {
            padding-bottom: 25px;
        }
    }

    .mat-mdc-card-content {
        padding: 10px;
    }

    .calendar-switch-button {
        display: flex;
        justify-content: center;

        .mat-mdc-fab.mampara {
            background-color: var(--mampara-bg);
            color: var(--mampara-color);
        }

        .mat-mdc-fab.nswempu {
            background-color: var(--nswempu-bg);
            color: var(--nswempu-color);
        }
    }
}

.calendar-slide-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .calendar-slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        &.dual {
            justify-content: space-between;
            max-width: 610px;
            background-color: black;
            border-radius: 15px;
        }

        &.quad {
            display: grid;
            justify-content: center;
            width: 610px;
            height: 100%;
            grid-template-columns: repeat(2,300px);
            grid-template-rows: repeat(2, calc(0.5 * calc(100% - 10px)));
            grid-gap: 10px;
            justify-items: center;
            background-color: black;
            border-radius: 15px;
        }

        &.twelve {
            display: grid;
            justify-content: center;
            width: 100%;
            height: 100%;
            max-width: 1010PX;
            grid-template-columns: repeat(4,calc(0.25 * calc(100% - 30px)));
            grid-template-rows: repeat(3, calc(0.33 * calc(100% - 20px)));
            grid-gap: 10px;
            justify-items: center;
            border-radius: 15px;
        }
    }
}


@media (max-width: 375px) {
    .calendar-slide {
        width: 80% !important;
    }
}

.t-and-c {
    padding: 15px;
    color: gray;
    font-size: 10px;
}
