<mat-card class="calendar-card {{CalendarType[_currentCalendar] | lowercase}}" appearance="raised">
    <mat-card-header class="calendar-card-header">
        <mat-card-title class="{{CalendarType[_currentCalendar] | lowercase}}">
            <mat-form-field class="calendar-form-field">
                <mat-select (selectionChange)="onSelectYear($event)" [(ngModel)]="_selectedYear" class="calendar-select">
                    @for (year of _years; track year) {
                    <mat-option [value]="year">{{year}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            {{CalendarType[_currentCalendar]}} Calendar
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="calendar-switch-button">
            <button mat-fab extended (click)="onSwitchCalendar()"
                class="{{CalendarType[(_currentCalendar + 1)%2] | lowercase}}">
                <mat-icon>change_circle</mat-icon>
                Switch to {{CalendarType[(_currentCalendar + 1)%2]}} Calendar
            </button>
        </div>

        <div class="calendar-content">
            <app-carousel [animation]="_animationType" [isNavigationVisible]="true" [data]="_slides">
                <ng-template carouselSlide let-slideData>
                    <div [style]="{
                  'background-size': 'cover',
                  'background-repeat': 'no-repeat',
                  'width': '100%',
                  'height': '100%'
                }">
                        <p>{{slideData.name}} - {{slideData.year}}</p>
                    </div>
                </ng-template>
            </app-carousel>
        </div>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>