<mat-card class="calendar-card {{_currentCalendar().label | lowercase}}" appearance="raised">
    <mat-card-header class="calendar-card-header">
        <mat-card-title class="{{_currentCalendar().label | lowercase}}">
            <mat-form-field class="calendar-form-field">
                <mat-select [(ngModel)]="_selectedYear" class="calendar-select">
                    @for (year of _years; track year) {
                    <mat-option [value]="year">{{year}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="calendar-form-field" [style.width]="'300px'" [style.marginLeft]="'15px'" [style.marginTop]="'15px'">
                <mat-select [(ngModel)]="_currentCalendar" class="calendar-select">
                    @for (type of _CalendarTypeOptions; track type.label) {
                        <mat-option [value]="type">{{type.label}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            Calendar
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="calendar-content">
            <app-carousel [animation]="_animationType" [isNavigationVisible]="true" [data]="_slides()" [height]="_carouselHeight()" [minHeight]="_carouselMinHeight()">
                <ng-template carouselSlide let-slideData let-active="isCurrent">
                    <div class="calendar-slide-container">
                        @switch(screenSize()) {
                            @case (_breakpoints.XSmall) {
                                <div class="calendar-slide">
                                    <app-month [data]="slideData" [active]="active"></app-month>
                                </div>
                            }
                            @case (_breakpoints.Small) {
                                <div class="calendar-slide dual">
                                <app-month [data]="slideData.month1" [active]="active"></app-month>
                                <app-month [data]="slideData.month2" [active]="active"></app-month>
                                </div>
                            }
                            @case (_breakpoints.Medium) {
                                <div class="calendar-slide quad">
                                <app-month [data]="slideData.month1" [active]="active"></app-month>
                                <app-month [data]="slideData.month2" [active]="active"></app-month>
                                <app-month [data]="slideData.month3" [active]="active"></app-month>
                                <app-month [data]="slideData.month4" [active]="active"></app-month>
                                </div>
                            }
                            @default {
                                <div class="calendar-slide twelve">
                                    @for(item of _months(12); track item;){
                                        <app-month [data]="slideData['month'+item]" [active]="active"></app-month>
                                    }
                                </div>
                            }
                        }
                    </div>
                </ng-template>
            </app-carousel>
        </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="t-and-c">
        T&CsDon't take this seriously or you'll get mad.
      </div> 
    </mat-card-footer>
</mat-card>