.month-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    background-color: honeydew;
    border-radius: 15px;

    &.active {
        box-shadow: 0px 0px 5px black;
    }

    .month-content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, calc(0.25*calc(100% - 6px)));
        grid-template-rows: repeat(4, calc(0.25*calc(100% - 6px)));
        flex: 1 0 90%;
        border: 1px solid;
        border-radius: 10px;
        background-color: black;
        box-sizing: border-box;
        align-items: center;
        justify-items: center;
        grid-gap: 2px;

        .story-image {
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: inset 0px 0px 2px 1px #000;
        }

        .no-stories {
            grid-row: 2 / span 2;
            grid-column: 2 / span 2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: larger;
            font-weight: 500;
            color: ghostwhite;
        }
    }

    .month-label {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 35px;
        box-sizing: border-box;
        font-size: larger;
        font-weight: 500;
        text-transform: uppercase;
    }
}