/* You can add global styles to this file, and also import other style files */
:root {
    --nswempu-color: #007bff;
    --nswempu-bg: #d4e2ff;
    --mampara-color: #cf5656;
    --mampara-bg: #000525;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
