/* You can add global styles to this file, and also import other style files */
:root {
    --nswempu-color: #0c0c0c;
    --nswempu-bg: #e5e5e5;
    --mampara-color: #0c0c0c;
    --mampara-bg: #e5e5e5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
    font-size: 11px;
    padding: 0 !important;
}
